@font-face {
    font-family: Titillium;
    src: url("Assets/TitilliumWeb-Regular.ttf");
  }

.all {
    /*backdrop-filter: blur(0.75px);*/
    height: 100%;
    /*background-image: url('https://i.postimg.cc/yYG62BL5/background3.png');*/
    /*background-image: url('https://i.postimg.cc/dVnXzv2d/background4.png');*/
    /*background-image: url('https://i.postimg.cc/zBZf4WdG/background6.png');*/
    background-image: url('https://i.postimg.cc/W1gLc4S1/Background-final.png');
    background-size: cover;
    height: 600px;
}

.main_text {
    font-family: Titillium;
    text-align: center;
    padding: 10% 0;
  }

body {
  margin: 0px;
}

.intro {
    display: block;
    height: 150px;
}

p{
    margin-top: 0;
    font-size: 24;
    margin-bottom: 30px;
}

h1{
    font-size: 70;
    text-align: center;
    display: inline-block;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
}

/* effect for "Hi, I'm Isabella Leroux" font */
/* from: https://codepen.io/belv2c/pen/jZvWeR */

.colour span {
    cursor: cell;
    background-color: color;
    transition: color 1000s;
    transition-delay: 1s;
    letter-spacing: -0.2vw;
  }

.colour span:hover {
    transition: color 0s;
  }
  
.colour span:nth-child(1n):hover {
    color: #f3c6a5;
}
  
.colour span:nth-child(2n):hover {
    color: #96caf7;
}
  
.colour span:nth-child(3n):hover {
    color: #9cdcaa;
}

.colour span:nth-child(4n):hover {
    color: #bfb2f3;
}
  
.colour span:nth-child(5n):hover {
    color: #e5e1ab;
}
  
.colour span:nth-child(6n):hover {
    color: #f3a3a8;
}

/*button effect*/
.link1 {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    padding: 9px 15px;
    top: 25%;
    border-radius: 28px;
    width: 160;
    height: 40px;
    background: #f9f9f9;
    content: "";
    transition: all 0.5s ease-in-out;
    font-family: Titillium;
    color: black;
  }

  .link1 span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
  }

  .link1:before {
    content: attr(data-item);
    transition: 0.5s;
    border-radius: 28px;
    background: rgb(130, 84, 255, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .link1:hover:before {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }

  /*nav bar*/
  /*code based on: https://codepen.io/grohit/pen/jObGzdG */
  nav {
    background: #fff;
    display: cover;
  }
  nav .menuItems {
    list-style: none;
    display: flex;
    margin: 0px;
  }
  nav .menuItems li {
    margin: 10px;
  }
  nav .menuItems li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: Titillium;
    font-weight: 400;
    transition: all 0.25s ease-in-out;
    position: relative;
    text-transform: uppercase;
    margin-right: 60px;
    margin-bottom: 0px;
  }
  nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #ac82f7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
  nav .menuItems li a:hover::before {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }

  /*footer*/
  /*email*/
  .email {
    background: none;
    background-image: url("Assets/email_icon.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;
    margin: 5px;

    position: relative;
    content: "";
    transition: all 0.5s ease-in-out;
  }

  .email:before {
    cursor: pointer;
    content: attr(data-item);
    transition: 0.5s;
    background: none;
    background-image: url("Assets/email_purple.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .email:hover:before {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }

    /*email*/
  .email {
    background: none;
    background-image: url("Assets/email_icon.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;
    margin: 5px;

    position: relative;
    content: "";
    transition: all 0.5s ease-in-out;
  }

  .email:before {
    cursor: pointer;
    content: attr(data-item);
    transition: 0.5s;
    background: none;
    background-image: url("Assets/email_purple.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .email:hover:before {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }

  /*linkedin*/
  .linkedin {
    background: none;
    background-image: url("Assets/linkedin_icon.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;
    margin: 5px;

    position: relative;
    content: "";
    transition: all 0.5s ease-in-out;
  }

  .linkedin:before {
    cursor: pointer;
    content: attr(data-item);
    transition: 0.5s;
    background: none;
    background-image: url("Assets/linkedin_purple.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .linkedin:hover:before {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }


  /*github*/
  .github {
    background: none;
    background-image: url("Assets/github_logo.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;
    margin: 5px;

    position: relative;
    content: "";
    transition: all 0.5s ease-in-out;
  }

  .github:before {
    cursor: pointer;
    content: attr(data-item);
    transition: 0.5s;
    background: none;
    background-image: url("Assets/github_purple.png");
    background-size: cover;
    height: 40px;
    width: 40px;
    border: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }

  .github:hover:before {
    width: 100%;
    transition: all 0.25s ease-in-out;
  }
